<?xml version="1.0"?>
<launch>
  <include file="$(find kondo_b3m_control)/launch/pos_control.launch">
    <arg name="use_gazebo" value="true"/>
  </include>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find kondo_b3m_gazebo)/world/example.world"/>
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model b3m_example -param /b3m/robot_description -z 1.02"/>
</launch>